<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <title>Hello, world!</title>
</head>
<style>
    .banner_FirstWord {
        color: #d20909fa;
        font-size: 20px;
        font-weight: 700;
    }

    .banner_SecondWord {
        color: black;
        font-size: 20px;
        font-weight: 700;
    }

    .company_Logo {
        height: 120px;
        width: 170px;
    }
</style>

<body>
    <div class="container">
        <div class="row bg-light mt-2 py-2">
            <div class="col">
                <span class="banner_FirstWord">Mothers</span><span class="banner_SecondWord">Electrical</span>
            </div>
        </div>
       
    <div class="row mt-3">
        <div class="col-md-10 col-xs-12 offset-md-1">
            <h4>#Your Orders</h4>
        
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">S.no#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Rate/Qty</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td><span id="prefix" class="font-weight-bold">&#x20b9;
                    </span>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td><span id="prefix" class="font-weight-bold">&#x20b9;
                    </span>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td><span id="prefix" class="font-weight-bold">&#x20b9;
                    </span>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <hr/>
        <div class="row">
            <div class="offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1  col-lg-5 col-md-5 col-sm-10 col-xs-10">
                <h4 class="bg-light">#Recipient</h4>
                <p>Rahul <br/>
                    7/1 Nand puri kanker khera meerut cantt <br/>
                    8/1 Nand puri kanker khera meerut cantt <br/>
                    250001,uttar pradesh
                    +91-9874563210 <br/>
                    +91-78545654332 <br/>
                    

                </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
                <h4 class="bg-light">#Total Amount</h4>
               <div class="row">
                   <div class="col">Due Amount </div>
                   <div class="col"><span id="prefix" class="font-weight-bold">&#x20b9;
                </span>55000.00</div>
               </div>
               <div class="row">
                <div class="col">Date </div>
                <div class="col"><span id="prefix" class="font-weight-bold">&#x20b9;
             </span>22-08-2020</div>
               </div>
            </div>
        </div>
        -<div class="row my-3 ">
            <div class="col text-center ">
                <h3>Thank you for your order</h3>
                I hope your shoping experienceis good with us. If you have any suggestion or feedback please reply us.
            </div>
        </div>
        <hr/>
        <div class="row bg-light my-4 pb-5">
            <div class="col text-center">
                <span class="banner_FirstWord">Mothers</span><span class="banner_SecondWord">Electrical</span>
                <p class="my-0"><em> electricalmothers@gmail.com</em></p>
                <p class="my-0"> Shop No. :- 7, New Market,
                    Hathua Road Mirganj (841438)
                    Phone: +91 8193945463
                    Business Number: +91 8193945463 </p>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>