{% extends 'layout.html' %}
{% block title %}Home-MothersElectrial{% endblock title %}
{% block content %}
{% load static %}
<!-- Slideer -->
    <section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding"
        data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="5000"
        id="slider-19">
        <div>
            <div>
                <div>
                    <ol class="carousel-indicators">
                        <li data-app-prevent-settings="" data-target="#slider-19" class="active" data-slide-to="0"></li>
                        <li data-app-prevent-settings="" data-target="#slider-19" data-slide-to="1"></li>
                        <li data-app-prevent-settings="" data-target="#slider-19" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active"
                            data-bg-video-slide="false"
                            style="background-image: url('{% static "/img/banner2.jpg" %}');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay" style="background-color: rgb(40, 50, 78);">
                                </div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-center">
                                            <h2 class="mbr-section-title display-1">Mothers Electrical</h2>
                                            <p class="mbr-section-lead lead">The Electric Hub</p>
                                            <p class="mbr-section-lead lead">Write Some Lines for Client and retailers.
                                            </p>
                                            <!-- <div class="mbr-section-btn"><a class="btn btn-lg btn-success"
                                                    href="https://mobirisethemes.com">FOR WINDOWS</a> <a
                                                    class="btn btn-lg btn-white-outline btn-white"
                                                    href="https://mobirisethemes.com">FOR MAC</a></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full"
                            data-bg-video-slide="false"
                            style="background-image: url('{% static "/img/banner1.jpg" %}');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"  style="background-color: rgb(40, 50, 78)"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-center">
                                            <h2 class="mbr-section-title display-1">Mothers Electrical</h2>
                                            <p class="mbr-section-lead lead">The Electric Hub</p>
                                            <p class="mbr-section-lead lead">Write Some Lines for Client and retailers.
                                            </p>
                                            <!-- <div class="mbr-section-btn"><a class="btn btn-lg btn-success"
                                                    href="https://mobirisethemes.com">FOR WINDOWS</a> <a
                                                    class="btn btn-lg btn-white-outline btn-white"
                                                    href="https://mobirisethemes.com">FOR MAC</a></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full"
                            data-bg-video-slide="false"
                            style="background-image: url('{% static "/img/banner3.jpg" %}');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(47, 29, 97);"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-center">
                                            <h2 class="mbr-section-title display-1">Mothers Electrical</h2>
                                            <p class="mbr-section-lead lead">The Electric Hub</p>
                                            <p class="mbr-section-lead lead">Write Some Lines for Client and retailers.
                                            </p>
                                            <!-- <div class="mbr-section-btn"><a class="btn btn-lg btn-success"
                                                    href="https://mobirisethemes.com">FOR WINDOWS</a> <a
                                                    class="btn btn-lg btn-white-outline btn-white"
                                                    href="https://mobirisethemes.com">FOR MAC</a></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev"
                        href="#slider-19">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next"
                        href="#slider-19">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
<!-- ---------Product Block------- -->
    <section class="mbr-section mbr-section__container article" id="header3-3v"
        style="background-color: rgb(239, 239, 239); padding-top: 60px; padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">Featured Products</h3>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-3s"
        style="background-color: rgb(239, 239, 239);">

        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="blocks.html"><img src="{% static 'img/lighting.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html" class="text-black">Lighting</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/socket.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#header3-13" class="text-black">Sockets</a>
                            </h4>



                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/solarpanel.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-18" class="text-black">Solar Panel</a>
                            </h4>



                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/modernkitchen.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-1b" class="text-black">Modern
                                    Kitchen</a></h4>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-3t"
        style="background-color: rgb(239, 239, 239);">



        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/switchgrear.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-1f" class="text-black">SwitchGear</a>
                            </h4>



                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/cable.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-1k" class="text-black">Cables</a>
                            </h4>



                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/vehiclecharge.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-1n" class="text-black">vehicles
                                    Charger</a></h4>



                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 40px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="#"><img src="{% static 'img/fan.png' %}"
                                    class="card-img-top"></a></div>
                        <div class="card-block">
                            <h4 class="card-title"><a href="blocks.html#msg-box8-1x" class="text-black">Fan</a>
                            </h4>



                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    
<!-- ------- Discount Block------- -->
    <section class="mbr-section article mbr-parallax-background" id="msg-box3-40"
        style="background-image: url('{% static "/img/discountBanner.jpg" %}'); padding-top: 120px; padding-bottom: 120px;">

        <div class="mbr-overlay" style="opacity: 0.9; background-color: #d4d4d47d;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h4 class="mbr-section-title display-3">GET INSTANT DISCOUNT, CALL NOW</h4>
                    <h5 class="mbr-section-title display-4">Offer Limited</h5>
                    <div class="lead ">
                        <p><strong><em>This is our introductory offers, so wait for it come our shop take a benefits of this offers.</em></strong></p>
                    </div>
                    <!-- <div><a class="btn btn-secondary" href="mobirise-3-bootstrap-template.zip">DOWNLOAD NOW</a> </div> -->
                </div>
            </div>
        </div>

    </section>
<!-- News Block-->
    <section class="mbr-info mbr-info-extra mbr-section mbr-section-md-padding" id="msg-box1-1w"
        style="background-color: rgb(242, 242, 242); padding-top: 90px; padding-bottom: 90px; margin-top:5px">
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">
                    <!-- ---LATEST NEWS BLOCK--- -->
                    <div class="mbr-table-cell mbr-right-padding-md-up col-md-6 text-xs-center text-md-left">
                        <div class="col-xs-12">
                            <h3 class="mbr-section-title display-2">Latest News</h3>
                        </div>
                        <div style="height: 300px;">
                            <marquee behavior="scroll" direction="up" scrollamount="4" height="280px" onmouseover="stop()"
                                onmouseout="start()">
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>
                                <br />
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>
                                <br />
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>
                                <br />
                            </marquee>
                        </div>
                    </div>

                    <!-- --EVENT BLOCK--- -->
                    <div class="mbr-table-cell mbr-right-padding-md-up col-md-6 text-xs-center text-md-left">

                        <div class="col-xs-12">
                            <h3 class="mbr-section-title display-2">Events</h3>
                        </div>
                        <div style="height: 300px;">
                            <marquee behavior="scroll" direction="up" scrollamount="3" height="280px" onmouseover="stop()"
                                onmouseout="start()">
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>
                                <br />
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>
                                <br />
                                <h3 class="mbr-info-title ">20-2-2020 :-</h3>
                                <h2 class="mbr-info-subtitle mbr-section-subtitle">Cits really very amazing app that
                                    makes
                                    me
                                    finish html page in 3 minutes ( that's usually takes more than 1 hours at least from
                                    me
                                    if i
                                    did it from scratch). </h2>

                            </marquee>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

<!-- Testimonial -->
    <section class="mbr-section article mbr-section__container" id="content1-41"
        style="background-color: rgb(255, 255, 255); padding-top: 85px; padding-bottom: 60px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-3">WHAT OUR USERS SAY..?</h3>
                    
                </div>
            </div>
        </div>

        <div class="mbr-testimonials mbr-section mbr-section-nopadding">
            <div class="container">
                <div class="row">
    
                    <div class="col-xs-12 col-lg-4">
    
                        <div class="mbr-testimonial card">
                            <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                            <div class="mbr-author card-footer">
                                
                                <div class="mbr-author-name">Abanoub S.</div>
                                
                            </div>
                        </div>
                    </div><div class="col-xs-12 col-lg-4">
    
                        <div class="mbr-testimonial card">
                            <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work mobirise team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                            <div class="mbr-author card-footer">
                                
                                <div class="mbr-author-name">Suffian A.</div>
                                
                            </div>
                        </div>
                    </div><div class="col-xs-12 col-lg-4">
    
                        <div class="mbr-testimonial card">
                            <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                            <div class="mbr-author card-footer">
                                
                                <div class="mbr-author-name">Jhollman C.</div>
                                
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </section>


{% endblock content %}