{% extends 'layout.html' %}
{% block title %}Checkout-MothersElectrical
{% endblock title %}


{% block content %}
{% load static %}

<section class="mbr-section mbr-parallax-background " id="form1-2h"
    style="background-image: url(assets/images/d5salkdogb4-stefan-widua.jpg); padding-top: 54px; padding-bottom: 12px ; margin-top:40px">
    <div class="container m-x-4 m-y-2 " id='sendOTPdiv'> {% csrf_token %}
        <hr />
<div class="container m-y-1 m-x-auto " >
    <div class="container">
    <div class="row">
        <div class="col-sm-12 bg-faded text-black  text-xs-center ">
            <header>
                <h2>Your Order is Booked</h2>
                <hr />
            </header>
        </div>
    </div>
    <!----------main content---->
    <div class="row m-t-2">
        <div class=" m-t-3  col-md-offset-1 col-md-5  font-italic font-weight-bold">
            <address>
                <p> goodwork4u2020@gmail.com </p>
                <p> B7/1, Abulane Place, Suite 150A </p>
                <p> Phone: 1-800-961-4952 </p>
                <p> Business Number: 0-808-234-2380 </p>
            </address>
        </div>
        <div class="col-md-5  text-right ">
            <span><img  class="m-r-3" src="{% static 'home/img/companylogo.jpg'%}" style="max-width: 150px;" alt="company Logo"></span>
        </div>
    </div>
    <hr />
    <div class="row ">
        <div class="col-md-offset-1 col-md-5 ">
            <article>
                <h2 class="text-black-50">Recipient</h1>
                    <address class="norm">
                        <h4>{{order.name|upper}}</h4>
                        <p> {{order.email_id}} <br>
                            <p> {{order.Address1|capfirst}} <br>
                                <p> {{order.Address|capfirst}} <br>
                                    <p> Contact No.: +91-{{order.moblie}}</p>
                                    <p> Altername Contact NO.: +91-{{order.moblie2}}</p>
                    </address>
            </article>
        </div>
        <div class="col-md-5 m-t-5">
            <div>
                <table class="table table-striped">
                    <tr>
                        <th><span>Invoice #</span></th>
                        <td><span>{{order.order_id}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Date</span></th>
                        <td><span>{{order.date}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Amount Due</span></th>
                        <td><span id="prefix" class="font-weight-bold">&#x20b9; </span><span>{{order.price}}</span></td>
                    </tr>
                    <tr>
                        <th><span>Creator ID</span></th>
                        <td><span>{{order.gw4u_id}}</span></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="row m-t-4">
        <div class=" col-md-offset-1 col-md-10">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th><span>S. No</span></th>
                        <th><span>Description</span></th>
                        <th><span>Rate Per Qty</span></th>
                        <th><span>Qty</span></th>
                        <th><span>Amount</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>1.</span></td>
                        <td><span>{{order.item_nameid}}</span></td>
                        <td><span id="prefix" class="font-weight-bold">&#x20b9; </span><span>{{order.price}}</span></td>
                        <td><span>x 1</span></td>
                         <td><span id="prefix" class="font-weight-bold">&#x20b9; </span><span>{{order.price}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-t-4">
        <div class=" col-md-offset-1 col-md-10">
            <table class="table  table-striped">
                <tr>
                    <th><span>Total</span></th>
                    <td><span id="prefix" class="font-weight-bold">&#x20b9; </span><span>{{order.price}}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row m-t-4  ">
        <div class=" col-md-offset-1 col-md-10 text-xs-right">
            <table class="table ">
                <tr>
                    <td><img src="{% static 'home/img/signature.jpg'%}" style="max-width: 150px;"
                            alt="company signature"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-4  ">
        <div class=" col-md-offset-1 col-md-10 text-xs-center " style="margin-bottom: 180px;">
           
           <h6>---THANKS YOU 4 SHOPPING WITH US---</h6>
           <h6>---HAVE NICE DAY---</h6>
        </div>
    </div>
</div>
</div>
    </div>    
    </div>
</section>
{% endblock content %}