{% extends 'layout.html' %}
{% load static %}
{% block title %}Products-MothersElectrical
{% endblock title %}
{% block activeProduct %}link_active{% endblock activeProduct %}

{% block content %}

<section class="mbr-section mbr-section__container article" id="header3-3v"
    style="background-color: rgb(239, 239, 239); padding-top: 60px; padding-bottom: 20px; margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">{{Category}} Products</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-1g"
    style="background-color: rgb(255, 255, 255);">
    <div class="mbr-cards-row row">
        {% if Products|length > 0 %}
        {% for Product in Products  %}
        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style=" padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/ProductDetail/{{Product.p_id}}/"><img id="imgpr{{Product.p_id}}" src="/media/{{Product.p_img}}"
                                class="product_img"></a></div>
                    <div class="card-block">
                        <h4 id="namepr{{Product.p_id}}" class="card-title">{{Product.p_name}}</h4>
                        <p  class="card-text"><strong>Price : </strong><span id="pricepr{{Product.p_id}}">{{ Product.p_price}}</span> INR
                        <p id="descpr{{Product.p_id}}" class="card-text">{{ Product.p_desc|truncatechars:60}} <a
                                href="/ProductDetail/{{Product.p_id}}/">...more</a>
                        </p>
                        <p class="card-text"><strong>Warranty: </strong>{{ Product.p_warranty}}
                        </p>
                        <span id='divpr{{Product.p_id}}' class="divpr">
                            <button class="btn btn-md btn-danger-outline btn-danger cart" id="pr{{Product.p_id}}"
                                style="padding: 7px;font-weight: bolder;margin-top: 18px; font-style: italic; ">
                                Add To Cart
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <section class="mbr-section article mbr-parallax-background" id="msg-box3-40"
            style=" padding-top: 120px; padding-bottom: 120px;">

            <div class="mbr-overlay" style="opacity: 0.9; background-color: #eb3d3c42;;">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-xs-center">
                        <h4 class="mbr-section-title display-4">SOORY ! NO PRODUCTS UNDER THIS CATEGORY</h4>
                        <h5 class="mbr-section-title display-3">Added Soon</h5>
                        <div class="lead ">
                            <p><strong><em>Please Check Frequently, we will very soon as your per
                                        requirements.</em></strong></p>
                        </div>
                        <!-- <div><a class="btn btn-secondary" href="mobirise-3-bootstrap-template.zip">DOWNLOAD NOW</a> </div> -->
                    </div>
                </div>
            </div>

        </section>
        {% endif %}

    </div>
</section>

</section>
{% endblock content %}
{% block pagescript %}
<script>
    if (JSON.parse(localStorage.getItem('cart')) === null) {
        var cart = {};
        updateCart(cart)
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'))
        updateCart(cart)
    }


    // Items are Added into cart
    $('.cart').click(function () {
        var idstr = this.id.toString();
        if (JSON.parse(localStorage.getItem('cart')) !== null) {
            cart = JSON.parse(localStorage.getItem('cart'))
        }

        if (cart[idstr] !== undefined) {
            cart[idstr] = cart[idstr] + 1
            
        }
        else {
            if (JSON.parse(localStorage.getItem('productsName')) === null) {
                var productsName = {};
            }
            else {
                console.log('running-2')
                productsName = JSON.parse(localStorage.getItem('productsName'))
            }
            cart[idstr] = 1;
            productsName[idstr] = [document.getElementById('name' + idstr).innerHTML,document.getElementById('price'+idstr).innerHTML,document.getElementById('desc'+idstr).innerHTML,document.getElementById('img'+idstr).src]
            localStorage.setItem('productsName', JSON.stringify(productsName))
        }
        localStorage.setItem('cart', JSON.stringify(cart))
        updateCart(JSON.parse(localStorage.getItem('cart')))
    })



    // item Decrement in Cart
    $('.divpr').on('click', 'button.minus', function () {
        let cart = JSON.parse(localStorage.getItem('cart'))
        let itemId = this.id.slice(5,)
        cart[itemId] = cart[itemId] - 1
        cart[itemId] = Math.max(0, cart[itemId])

        document.getElementById(itemId).innerHTML = cart[itemId]
        localStorage.setItem('cart', JSON.stringify(cart))
        updateCart(cart)
    })



    // Item increment in cart
    $('.divpr').on('click', 'button.plus', function () {
        let cart = JSON.parse(localStorage.getItem('cart'))
        let itemId = this.id.slice(4,)
        cart[itemId] = cart[itemId] + 1
        document.getElementById(itemId).innerHTML = cart[itemId]
        localStorage.setItem('cart', JSON.stringify(cart))
        updateCart(cart)
    })
</script>
{%endblock pagescript%}