{% extends 'layout.html' %}
{% load static %}
{% block title %}ProductType-MothersElectrical
{% block activeProduct %}link_active{% endblock activeProduct %} 
{% endblock title %}

{% block content %}

<section class="mbr-section mbr-section__container article" id="header3-3v"
    style="background-color: rgb(239, 239, 239); padding-top: 60px; padding-bottom: 20px; margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2"> Products Type </h3>

            </div>
        </div>
    </div>
</section>

 <section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-1g"
    style="background-color: rgb(255, 255, 255);">



    <div class="mbr-cards-row row">
       <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Type}}/Industrial">
                    <img src="/static/img/noProductImage.png" width="200px" height="200px" ></a></div>
                    <div class="card-block">
                        <a href="/Products/{{Type}}/Industrial">
                        <h3 class="card-title" style="margin-top:10px; font-size: 25px;">Industrial</h3></a>
                    </div>
                </div>
            </div>
        </div>

         <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Type}}/Commercial">
                    <img src="/static/img/noProductImage.png" width="200px" height="200px" ></a></div>
                    <div class="card-block">
                        <a href="/Products/{{Type}}/Commercial">
                        <h3 class="card-title" style="margin-top:10px;font-size: 25px;">Commercial</h3></a>
                    </div>
                </div>
            </div>
        </div>

         <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Type}}/Residential">
                    <img src="/static/img/noProductImage.png" width="200px" height="200px" ></a></div>
                    <div class="card-block">
                        <a href="/Products/{{Type}}/Residential">
                        <h3 class="card-title" style="margin-top:10px;font-size: 25px;">Residential</h3></a>
                    </div>
                </div>
            </div>
        </div>
       
     {% comment %} <section class="mbr-section article mbr-parallax-background" id="msg-box3-40"
        style="background-image: url('{% static "/img/discountBanner.jpg" %}'); padding-top: 120px; padding-bottom: 120px;">

        <div class="mbr-overlay" style="opacity: 0.9; background-color: #eb3d3c42;;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h4 class="mbr-section-title display-4">SOORY ! NO PRODUCTS UNDER THIS CATEGORY</h4>
                    <h5 class="mbr-section-title display-3">Added Soon</h5>
                    <div class="lead ">
                        <p><strong><em>This is our introductory offers, so wait for it come our shop take a benefits of this offers.</em></strong></p>
                    </div>
                    <!-- <div><a class="btn btn-secondary" href="mobirise-3-bootstrap-template.zip">DOWNLOAD NOW</a> </div> -->
                </div>
            </div>
        </div>

    </section> {% endcomment %}
   
       
    </div>
</section> 

</section>
{% endblock content %}