{% extends 'layout.html' %}
{% load static %}
{% block title %}ProductType-MothersElectrical
{% block activeProduct %}link_active{% endblock activeProduct %}
{% endblock title %}

{% block content %}

<section class="mbr-section mbr-section__container article" id="header3-3v"
    style="background-color: rgb(239, 239, 239); padding-top: 60px; padding-bottom: 20px; margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">{{Type}}</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-1g"
    style="background-color: rgb(255, 255, 255); text-align: center;">
    <div class="mbr-cards-row row">
        <!-----------For Lighting Company------------------>
        {% if Category == "WiringDevices" %}
        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
            style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
            <div class="container">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                        <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
            </div>
        </div>

        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Category}}/{{subCategory}}/LT">
                            <img class="company_Logo" src="/static/img/LT.png" width="200px" height="200px"></a></div>
                </div>
            </div>
        </div>

        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Category}}/{{subCategory}}/Anchor">
                            <img class="company_Logo" src="/static/img/Anchor.png" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Category}}/{{subCategory}}/GreatWhite">
                            <img class="company_Logo" src="/static/img/GreatWhite.png" width="200px" height="200px"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Category}}/{{subCategory}}/All">
                            <img class="company_Logo" src="/static/img/CA.png" width="200px" height="200px"
                                alt="C&C Company"></a></div>
                </div>
            </div>
        </div>
        <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                            <img class="company_Logo" src="/static/img/noProductImage.png" width="200px"
                                height="200px"></a></div>
                </div>
            </div>
        </div>
    </div>

    <!-----------For Lighting Company------------------>
    {% elif Category == "Lighting" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
    style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
    <div class="container">
        <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
    </div>
</div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/GreatWhite">
                        <img class="company_Logo" src="/static/img/GreatWhite.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Syska">
                        <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Jaguar">
                        <img class="company_Logo" src="/static/img/Jaguar.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Orient">
                        <img class="company_Logo" src="/static/img/Orient.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Wipro">
                        <img class="company_Logo" src="/static/img/Wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/All">
                        <img class="company_Logo" src="/static/img/CA.png" width="200px" height="200px"
                            alt="C&C Company"></a></div>
            </div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="card cart-block">
            <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                    <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
            </div>
        </div>
    </div>
</div>
    <!-----------For Fan Company------------------>
    {% elif Category == "Fan" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Bajaj">
                        <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/GreatWhite">
                        <img class="company_Logo" src="/static/img/GreatWhite.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Usha">
                        <img class="company_Logo" src="/static/img/Usha.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Orient">
                        <img class="company_Logo" src="/static/img/Orient.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Polycab">
                        <img class="company_Logo" src="/static/img/Polycab.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                        <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>


    <!-----------For MCBs Company------------------>
    {% elif Category == "MCBs" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/LT">
                        <img class="company_Logo" src="/static/img/LT.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Anchor">
                        <img class="company_Logo" src="/static/img/Anchor.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/GreatWhite">
                        <img class="company_Logo" src="/static/img/GreatWhite.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/All">
                        <img class="company_Logo" src="/static/img/CA.png" width="200px" height="200px"
                            alt="C&C Company"></a></div>
            </div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                        <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-----------For Wires and cables Company------------------>
    {% elif Category == "WiresAndCables" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Polycab">
                        <img class="company_Logo" src="/static/img/Polycab.JPG" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Anchor">
                        <img class="company_Logo" src="/static/img/Anchor.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/Kei">
                        <img class="company_Logo" src="/static/img/Kei.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/RRCables">
                        <img class="company_Logo" src="/static/img/RRCables.jpg" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                        <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-----------For PipeAndBit Company------------------>
    {% elif Category == "PipeAndBit" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Category}}/{{subCategory}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Anchor">
                        <img class="company_Logo" src="/static/img/Anchor.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Usha">
                        <img class="company_Logo" src="/static/img/Usha.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>



    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                        <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
                </div>
            </div>
        </div>
    </div>

     <!-----------For OTHERS Company------------------>
     {% elif Category == "Others" %}
     
 
     
     <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3 m-x-auto" style="padding-top: 80px; padding-bottom: 80px;">
         <div class="container">
             <div class="card cart-block">
                 <div><a href="/Products/{{Category}}/{{subCategory}}/Others">
                         <img class="company_Logo" src="/static/img/noProductImage.png" width="200px" height="200px"></a>
                 </div>
             </div>
         </div>
     </div>

    {% else %}
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h4 class="mbr-section-title display-4">SOORY ! NO PRODUCTS UNDER THIS CATEGORY</h4>
                    <h5 class="mbr-section-title display-3">Added Soon</h5>
                    <div class="lead ">
                        <p><strong><em>This is our introductory offers, so wait for it come our shop take a benefits
                                    of this offers.</em></strong></p>
                    </div>
                    <!-- <div><a class="btn btn-secondary" href="mobirise-3-bootstrap-template.zip">DOWNLOAD NOW</a> </div> -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</section>


{% endblock content %}