{% extends 'layout.html' %}
{% load static %}
{% block title %}ProductType-MothersElectrical
{% block activeProduct %}link_active{% endblock activeProduct %}
{% endblock title %}

{% block content %}

<section class="mbr-section mbr-section__container article" id="header3-3v"
    style="background-color: rgb(239, 239, 239); padding-top: 60px; padding-bottom: 20px; margin-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">{{Type}}</h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-1g"
    style="background-color: rgb(255, 255, 255); text-align: center;"> 
    <div class="mbr-cards-row row">
    <!-----------For Lighting Company------------------>
    {% if Type == "Lighting" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Type}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/bajaj">
                        <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/syska">
                        <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/wipro">
                        <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/All">
                        <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>
    </div>

    <!-----------For Wires Company------------------>
    {% elif Type == "Wires" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Type}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/bajaj">
                        <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/syska">
                        <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/wipro">
                        <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <!-----------For Sockets Company------------------>
    {% elif Type == "Sockets" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Type}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/bajaj">
                        <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/syska">
                        <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/wipro">
                        <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>


    <!-----------For SwitchGear Company------------------>
    {% elif Type == "SwitchGear" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Type}}/Havells">
                    <img class="company_Logo" src="/static/img/Havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/Bajaj">
                        <img class="company_Logo" src="/static/img/Bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/Syska">
                        <img class="company_Logo" src="/static/img/Syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/Wipro">
                        <img class="company_Logo" src="/static/img/Wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>


    <!-----------For Fans Company------------------>
    {% elif Type == "Fans" %}
    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
        style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
        <div class="container">
            <div><a href="/Products/{{Type}}/Havells">
                    <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/bajaj">
                        <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/syska">
                        <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="card cart-block">
                <div><a href="/Products/{{Type}}/wipro">
                        <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
            </div>
        </div>
    </div>

    
     <!-----------For ModernKitchen Company------------------>
     {% elif Type == "ModernKitchen" %}
     <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3"
         style="padding-top: 80px; padding-bottom: 80px; text-align:center;">
         <div class="container">
             <div><a href="/Products/{{Type}}/Havells">
                     <img class="company_Logo" src="/static/img/havells.png" width="200px" height="200px"></a></div>
         </div>
     </div>
 
     <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
         <div class="container">
             <div class="card cart-block">
                 <div><a href="/Products/{{Type}}/bajaj">
                         <img class="company_Logo" src="/static/img/bajaj.jpg" width="200px" height="200px"></a></div>
             </div>
         </div>
     </div>
 
     <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
         <div class="container">
             <div class="card cart-block">
                 <div><a href="/Products/{{Type}}/syska">
                         <img class="company_Logo" src="/static/img/syska.png" width="200px" height="200px"></a></div>
             </div>
         </div>
     </div>
 
     <div class=" col-xs-6 col-sm-6 col-md-3 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
         <div class="container">
             <div class="card cart-block">
                 <div><a href="/Products/{{Type}}/wipro">
                         <img class="company_Logo" src="/static/img/wipro.png" width="200px" height="200px"></a></div>
             </div>
         </div>
     </div>
    {% else %}
    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 80px; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">
                    <h4 class="mbr-section-title display-4">SOORY ! NO PRODUCTS UNDER THIS CATEGORY</h4>
                    <h5 class="mbr-section-title display-3">Added Soon</h5>
                    <div class="lead ">
                        <p><strong><em>This is our introductory offers, so wait for it come our shop take a benefits
                                    of this offers.</em></strong></p>
                    </div>
                    <!-- <div><a class="btn btn-secondary" href="mobirise-3-bootstrap-template.zip">DOWNLOAD NOW</a> </div> -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}    
    </div>
</section>


{% endblock content %}